.main-div
{
    padding: 15px;
}

.map-div
{
    background-color: #ffffff;
}

.separator
{
    border-left: 1px solid #0066ff;
}

.all-posts-div
{
    margin-bottom: 80px;
    background-color: #0066ff;
    border-radius: 5px;
}

h1
{
    color: #0066ff;
}

.all-posts
{

}