.main-div
{
    margin-top: -830px;
    background-color: rgba($color: #ffffff, $alpha: 0.3)
}

.login-div 
{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 200px;
    margin-bottom: 232px; 
    background-color: rgba($color: #ffffff, $alpha: 0.85);
    border-radius: 5px;
}

.form-element
{
    color: #ff3300;
    margin-top: 20px;
}