.all-posts-div
{
    margin-bottom: 80px;
    background-color: white;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
}

h1
{
    color: #0066ff;
}

.all-posts
{
    background-color: #e6f0ff;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.post-text
{
    margin-bottom: 40px;
}

.post-flag
{
    
}

.post-button
{
    border-top: 1px solid #0066ff;
}

.like-comment
{
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}

.buttons
{
    background-color: #0066ff;
    color: #ffffff;
    width: 200px;
    float: left;
    text-align: center;
}