.main-div
{
    margin-top: -950px;
    background-color: rgba($color: #ffffff, $alpha: 0.3)
}

.login-div 
{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 170px;
    margin-bottom: 233px; 
    background-color: rgba($color: #ffffff, $alpha: 0.85);
    border-radius: 5px;
}

.form-element
{
    color: #0066ff;
    margin-top: 20px;
}

.close-icon-div
{
    margin-top: 30px;
}