.main-div
{
    margin: 0px;
    padding: 8px 15px 0px 15px;
    background-color: #0066ff;
    color: white;
    border-radius: 0px;
    font-size: 13px;
}

h3
{
    font-family: "Pacifico", serif;
    margin: 10px 0px 10px 20px;
}

img
{
    width: 80px;
    height: 40px;
}

.login-div
{
    margin: 10px 0px 0px 0px;
}

a
{
    color: white;
}

.menu-div
{
    background-color: #cce0ff;
    position: fixed;
}

.menu
{
    background-color: #0066ff;
    position: fixed;
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0.1; }
    to   { opacity: 1; }
}

.menu-div a
{
    margin-left: 10px;
    margin-bottom: 10px;
}