.main-div
{
    margin: 0px;
    padding: 15px 15px 0px 15px;
    //background: url(../assets/img/background.jpg);
    background-color: #ff3300;
    color: white;
}

h3
{
    font-family: "Pacifico", serif;
    margin: 10px 0px 10px 20px;
}

img
{
    width: 110px;
    height: 60px;
}

.login-div
{
    margin: 10px 0px 0px 0px;
}

a
{
    color: white;
}