.main-div
{
    color: #0066ff;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
}

h1
{
    color: #0066ff
}

textarea
{
    background-color: #e6f0ff;
    resize: none;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.buttons
{
    
    background-color: #0066ff;
    color: #ffffff;
}

label
{
    margin-right: 12px;
}

.form-elements
{
    background-color: #ffffff;
    border-radius: 5px;
}